* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);
  --dark-gray: hsl(240, 7%, 78%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg);
  width: 375px;
  height: 812px;
}

.container {
  text-align: center;
  color: var(--gray);

  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;

  object-fit: cover;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--dark-gray);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 0.875rem;

  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  padding: 0;

  list-style: none;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
